.group-menu {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
  }
  
  .group-menu h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .group-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .group-menu-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  