.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #195a58;
  width: 150%;
  align-items: flex-start;
}

.post {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

}

/* .post-author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
} */

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post-content {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.post-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.post-images img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}


.post-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.likes, .comments {
  display: flex;
  align-items: center;
  gap: 5px;
}

.likes svg, .comments svg {
  cursor: pointer;
  margin-right: 5px;
}

.add-comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.add-comment input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-comment button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-comment button:hover {
  background-color: #0056b3;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.comment-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.comment p {
  margin: 0;
}
