/* src/mark.css */
.product {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  text-align: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart {
  margin-top: 32px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
