/* Simple Modern Login Form Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #0e0f10;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 25px;
  }
  
  input:focus {
    border-color: #1877f2;
    outline: none;
  }
  
  .submit-btn {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #166fe5;
  }
  