.search-container {
  position: relative;
  width: 200px;
  /* margin: 20px auto; */
}

.search-input-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 30px; /* שמאל 30px בשביל לתת מקום לאייקון */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: black;
}

.search-input:focus ~ .search-icon {
  display: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.search-result-item:hover {
  background-color: #0000083a;
  color: white;
}
